.App {
  text-align: center;
  background: url("./images/photo-1554034483-04fda0d3507b.avif") no-repeat center center fixed;
  background-size: cover;
}

.Navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}